body{
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0px;
    background-image: url("../IMG/BackDark.jpg");
    overflow: hidden;
}

.header{
    position: absolute;
    font-family: "Garamond";
    font-size: 5vh;
    top: 2%;
    width: 90vw;
    height: 20vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
}

.btn1, .btn2, .btn3, .btn4, .btn5, .btn6{
    position: absolute;
    font-family: "Garamond";
    font-size: 5vh;
    color: white;
    border: 0.3vh solid #e29ea8;
    background: #1d3f3a;
    border-radius: 10%;
    display: flex;
    width: 66vw;
    height: 10vh;
    justify-content: center;
    align-items: center;
}

.btn1{
    top: 23vh;
    left: calc(50% - 33vw);
}

.btn2{
    top: 35vh;
    left: calc(50% - 33vw);
}

.btn3{
    top: 47vh;
    left: calc(50% - 33vw);
}

.btn4{
    top: 59vh;
    left: calc(50% - 33vw);
}

.btn5{
    top: 71vh;
    left: calc(50% - 33vw);
}

.btn6{
    top: 83vh;
    left: calc(50% - 33vw);
}