body{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0px;
    background-image: url("../IMG/BackDark.jpg");
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn1, btn2, btn3, btn4, btn5, btn6{
    position: absolute;
    font-family: "Garamond";
    font-size: 6vh;
    color: white;
    border: 1vh solid #e29ea8;
    background: #1d3f3a;
    border-radius: 10%;
    display: flex;
    width: 20vw;
    height: 20vh;
    justify-content: center;
    align-items: center;
}
