body{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0px;
    background-image: url("../IMG/BackDark.jpg");
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rectangle{
    position: absolute;
    background-color: argb(0,0,0);
    border: 1vh solid #e29ea8;
    display: flex;
    width: 90vw;
    height: 30vh;
    align-items: center;
    justify-content: center;
}


.btn1, .btn2, .btn3, .btn4, .btn5, .btn6{
    position: absolute;
    font-family: "Garamond";
    font-size: 4vh;
    color: white;
    border: 0.1vh solid #e29ea8;
    background: #1d3f3a;
    border-radius: 10%;
    display: flex;
    width: 15vw;
    height: 15vh;
    justify-content: center;
    align-items: center;
}

.btn1{
    top: 5vh;
    left: 10vh;
}

.btn2{
    top: 10vh;
    left: 10vh;
}

.btn3{
    top: 5vh;
    left: 20vh;
}

.btn4{
    top: 10vh;
    left: 20vh;
}

.btn5{
    top: 5vh;
    left: 30vh;
}

.btn6{
    top: 10vh;
    left: 30vh;
}
