body{
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0px;
    background-image: url("../IMG/BackDark.jpg");
    overflow: hidden;
}

.header{
    position: absolute;
    font-family: "Garamond";
    font-size: 5vh;
    top: 2%;
    width: 90vw;
    height: 20vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
}

.tbl{
    border-collapse: collapse;
    table-layout: fixed;

    position: absolute;
    font-family: "Garamond";
    font-size: 5vh;
    max-width: fit-content;
    top: 40%;
    width: 90vw;
    height: 20vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 25%;
    transform: translateX(-50%);
}

td {
    padding: 0px;
    margin: 0 0 0 0;
    text-align: center;
    white-space: nowrap;
  }
  /* tbody{
    padding: 0px;
    margin: 0 0 0 0;
    
  } */
/* tr {
padding: 0px;
    margin: 0 0 0 0;

} */

.img {
    height: 20vh;
    width: 20vh;
    object-fit: cover;
}

.canvas{
    height: 40vh;
    width: 40vh;
    display: flex;
    transform: translate(341%, 75%);
    background-color: #ffffff;
}

.erase{
    position: absolute;
    font-family: "Garamond";
    font-size: 3vh;
    color: white;
    bottom: 25%;
    right: 15%;
    border: 0.3vh solid #e29ea8;
    background: #1d3f3a;
    border-radius: 10%;
    display: flex;
    width: 10vh;
    height: 5vh;
    justify-content: center;
    align-items: center;
}

.next{
    position: absolute;
    font-family: "Garamond";
    font-size: 5vh;
    color: white;
    bottom: 15%;
    right: 15%;
    border: 0.3vh solid #e29ea8;
    background: #1d3f3a;
    border-radius: 10%;
    display: flex;
    width: 20vh;
    height: 6vh;
    justify-content: center;
    align-items: center;
}

.previous{
    position: absolute;
    font-family: "Garamond";
    font-size: 5vh;
    color: white;
    bottom: 15%;
    left: 15%;
    border: 0.3vh solid #e29ea8;
    background: #1d3f3a;
    border-radius: 10%;
    display: flex;
    width: 20vh;
    height: 6vh;
    justify-content: center;
    align-items: center;
}