body{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    margin: 0px;
    background-image: url("../IMG/BackDark.jpg");
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header{
    position: absolute;
    font-family: "Garamond";
    font-size: 5vh;
    color: white;
    top: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rectangle{
    position: absolute;
    background-color: argb(0,0,0);
    border: 1vh solid #e29ea8;
    display: flex;
    width: 60vw;
    height: 40vh;
    align-items: center;
    justify-content: center;
}

.start{
    position: absolute;
    font-family: "Garamond";
    font-size: 7vh;
    color: white;
    top: 5vh;
    border: 1vh solid #1d3f3a;
    background: #1d3f3a;
    display: flex;
    justify-content: center;
    align-items: center;
}
